
*{
    margin: 0;
} 

/*Selector Etiquetas e Hijos*/

ul {
    background-color: #3b85ec;
    text-align: center;
    padding: 0px;
}

li {
    margin: 0px;
    padding: 4vh 0vw;
    display: inline-block;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li:hover {
    background-color: #000000;
}

a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    color: white;
    text-decoration: none;
    padding: 4vh 2vw;
}

h2 {
    padding: 5vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000000;
}

input {
    border: 2px solid #1D2538;
    border-radius: 5px;
    padding: 1vh 1vw;

}

/*Selectores de ID*/



/*Selectores de Clases*/

.div1 {
    text-align: center;
    margin-top: 3vh;
}

.div2 {
    background-color: #E0E1DC;
    margin: 3vh 32vw;
    border-style: solid;
    border-width: 2px;
    border-color: #1D2538;
    text-align: center;
}

.boton {
    
    margin-top: 3vh;
    margin-bottom: 1.5vh;
    padding: 1vh 3vw;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: medium;
    background-color: #7C8DA5;
    border: 2px solid #1D2538;
    border-radius: 5px;
    
}

.boton:hover {
        background-color: #48c267;
}

/*Selectores Anidados*/

.div2 table td{
    text-align: left;
    padding-top: 2vh;
    padding-bottom: 1vh;
}

.div2 label{
    margin: 0vh 2.5vw;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #1D2538;
}
